.msg-container {
    max-width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}
 
.chat-menu {
    flex: 3.5;
    margin-right: 1rem;
}

.chat-menu-input {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chat-box {
    flex: 6;
    margin-right: 2rem;
}

.chat-box-wrapper {
    display: flex;
    flex-direction: column; 
}

.chat-box-top{
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chat-box-top::-webkit-scrollbar {
    display: none;
}

.chat-box-bottom { 
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-message-input {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chat-submit-button {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.chat-online {
    flex: 3;
}

.chat-menu-wrapper, .chat-box-wrapper, .chat-online-wrapper {
    height: 100%;
}