.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.message-top {
    display: flex;
}

.message-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-left: 10px;
}

.message-text {
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 400px;
}

.message-bottom {
    font-size: 12px;
    margin-top: 10px;
}

.message.own {
    align-items: flex-end;
}

.message.own .message-text {
    background-color: rgb(245, 241, 241);
    color: black;
}

.hidden {
    display: none;
}